#040601

Set the top and bottom borders of a div to red, the left and right borders to blue.

#040602

What is the total width of the div?

div {
  width: 100px;
  padding: 10px 0;
}
#040603

What is the total width of the div?

div {
  width: 100px;
  border-width: 1px;
  padding: 2px;
}
#040604

Prevent the width of the div to exceed 50 pixels.

div {
  padding: 10px;
  width: 40px;
}
#040605

Make to the top-left and top-right corners of a div "round" while keeping the bottom-left and bottom-right squared.

#040606

Achieve the following:



#040607

Achieve the following:



#040608

Achieve the following:

