Colors

#040301

Replace the value red with its corresponding hex value

div {
  border-color: red;
}
#040302

Replace the value rgb(0,255,0) with its corresponding hex value

div {
  border-color: rgb(0,255,0)
}
#040303

Add 50% transparency to the value of the border-color property

div {
  border-color: rgb(0,0,0)
}
#040304

Replace the value LightSalmon with its corresponding hex value (use online resources to find the match)

div {
  border-color: LightSalmon
}